body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
div {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-image: url("Fundo.png");
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
  }
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-image: url("Fundo.png");
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
}

.gallery {
    margin: 0 auto;   
    padding: 20px;
}

.gallery img {
    width: 400px;
    height: 500px;
}
audio{
    max-width: 960px;
    margin: 0 auto;
    padding-left: 20px;
}


